# Created by .ignore support plugin (hsz.mobi)
.idea/

aws/googledrive/credentials.json
caffe/snapshot/

caffe/fer2013/*
!caffe/fer2013/*.py

caffe/fer2013+/*
!caffe/fer2013+/*.py
!caffe/fer2013+/*.sh

test/
