# Created by .ignore support plugin (hsz.mobi)
.idea/

aws/googledrive/credentials.json
aws/googledrive/client_secrets.json
caffe/snapshot/

caffe/fer2013/*
!caffe/fer2013/*.py

caffe/fer2013+/*
!caffe/fer2013+/*.py
!caffe/fer2013+/*.sh
caffe/e.jpg

test/

ms/pic/
